#chat {
    background: #FFF;
    border: 1px solid;
    border-radius: 5px 5px 0px 0px;
    height: 30rem;
    overflow-y: scroll;
}

.blog-chat {
	margin-bottom: 1rem;
}

.b {
    font-weight: bold;
}

.msg {
	font-size: 1.2rem;
}

.username {
	font-size: 1.3rem;
	color: #232397;
}

.username:first-letter, .msg{
	text-transform: capitalize;
}

.msg-own {
	text-align: right;
}

.msg-own .username {
	color: #227222;
}